

[Unit]
Description=Humio. Ensure that /dev/sdh is ready and mounted in /data.
Before=docker.service

[Service]
Type=oneshot
ExecStart=/bin/bash /opt/humio-operations/aws/humio-mount-datadir.sh

[Install]
RequiredBy=docker.service
